<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>User data</title>
    </head>
    <body>
        <table>
            <tr><td>First name:</td><td th:text="${user.firstName}"></td></tr>
            <tr><td>Last name:</td><td th:text="${user.lastName}"></td></tr>
            <tr><td>Email:</td><td th:text="${user.email}"></td></tr>
            <tr><td>Phone number:</td><td th:text="${user.phoneNumber}"></td></tr>
        </table>
    </body>
</html>
